<%- include("header") -%> 
<div class="box" id="heading">
    <h1><%= typeOfList %> %></h1>
</div>

<div class="box">
    <% for (var i = 0; i < listOfItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= listOfItems[i] %></p>
        </div>            
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button type="submit" name="submit" value=<%= typeOfList %>>+</button>
    </form>
</div>
<%- include("footer") -%> 